
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Управление пользователями", "ManageUsers")
@*Html.ActionLink("Управление счетами", "ManagePaymentAccounts")*@

