@using Domain.Entities;
@using Domain.PaymentStates;

@model IEnumerable<Payment>
@{
    ViewBag.Title = "Список платежей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список платежей</h2>

<table name="payments">
    @{
    <tr>
        <td>@Html.ActionLink("Номер платежа", "SortPaymentsByNumber")</td>
        <td>@Html.ActionLink("Дата платежа", "SortedPaymentsByDate", new { reversed = ViewBag.Reversed })</td>
    </tr>
        foreach (var payment in Model)
        {
            <tr>
            <td>@payment.Number</td> 
            @if(payment.State is PaymentPreparedState)
            {
                <td>Платеж ожидает подтверждения</td>
            }
            else if(payment.State is PaymentSentState)
            {
                <td>@payment.PaymentDate</td>
            }
            </tr>
        }

    }
</table>


